@let tutor = teacher | async;
<div
  class="relative transform overflow-hidden rounded-lg text-left transition-all sm:w-full sm:max-w-lg p-3 sm:min-w-[550px]"
>
  @if (tutor) {
  <div class="sm:flex sm:items-start">
    <img src="{{ tutor?.image }}" alt="avatar" class="size-10 rounded-full" />
    <div class="text-center sm:ml-4 sm:mt-0 sm:text-left">
      <h3 class="text-gray-500" id="modal-title">
        Delete teacher
        <span class="text-base font-semibold text-gray-900"
          >{{ tutor?.name }}
        </span>
        <span class="text-base font-semibold text-gray-900"
          >({{ tutor?.major }})</span
        >
      </h3>
      <div class="mt-2">
        <p class="text-sm text-gray-500">
          {{ tutor?.description }}
        </p>
      </div>
    </div>
  </div>
  } @else {
  <h3 class="text-base font-semibold text-gray-900" id="modal-title">
    Delete teacher
  </h3>
  <div class="flex justify-center"><app-loading /></div>

  }
</div>
<div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
  <button
    type="button"
    class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white hover:bg-red-500 sm:ml-3 sm:w-auto"
  >
    Delete
  </button>
  <button
    type="button"
    class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
    (click)="close()"
  >
    Cancel
  </button>
</div>
