<div class="px-24 my-10">
  <div class="hidden sm:block">
    <nav class="flex space-x-4" aria-label="Tabs">
      <a
        class="rounded-md px-3 py-2 text-sm font-medium text-white cursor-pointer bg-blue-950"
        (click)="toggleTree()"
        >Show/Hide</a
      >
      <a
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 cursor-pointer"
        [routerLink]="['details']"
        routerLinkActive="bg-gray-200"
        >Node details</a
      >

      <a
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 cursor-pointer"
        [routerLink]="['members']"
        routerLinkActive="bg-gray-200"
        >Members</a
      >
      <a
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 cursor-pointer"
        [routerLink]="['configuration']"
        routerLinkActive="bg-gray-200"
        >Configuration</a
      >
    </nav>
  </div>
  @if (treeStore.loading()) {
  <div class="flex justify-center items-center w-5/6 mt-16">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else {
  <div class="mt-5 big-container">
    <div class="sidebar" [class]="isTreeHidden ? 'isHidden' : 'isNotHidden'">
      <app-hierarchy-tree />
    </div>
    <div
      class="content duration-1000 transition-all"
      [class]="isTreeHidden ? 'w-full' : 'w-4/6'"
    >
      <router-outlet />
    </div>
  </div>
  }
</div>
<div class="mt-8 relative" #container style="position: relative">
  <div #box1 class="box h-48 bg-blue-500 p-4 rounded-md text-white">Box 1</div>
  <div #box2 class="box h-32 bg-green-500 p-4 rounded-md text-white">Box 2</div>
  <div #box3 class="box h-24 bg-orange-500 p-4 rounded-md text-white">
    Box 3
  </div>
  <div #box4 class="box h-28 bg-purple-500 p-4 rounded-md text-white">
    Box 4
  </div>
  <div #box5 class="box h-40 bg-purple-500 p-4 rounded-md text-white">
    Box 5
  </div>
</div>

<div class="container flex">
  @if (isTreeHidden) {
  <div
    [@sidebarAnimation]="sidebarState"
    class="w-1/4 bg-gray-200 p-4"
    [@.disabled]="!isTreeHidden"
  >
    Sidebar
  </div>
  }
  <div [@contentAnimation]="contentState" class="w-3/4 bg-gray-100 p-4">
    Content
  </div>
</div>

<div class="container flex">
  <div
    [@sidebarAnimation]="isTreeHidden ? 'hidden' : 'visible'"
    class="w-1/4 bg-gray-200 p-4"
  >
    Sidebar
  </div>
  <div
    [@contentAnimation]="isTreeHidden ? 'hidden' : 'visible'"
    class="flex-grow bg-gray-100 p-4"
  >
    Content
  </div>
</div>
<button (click)="toggleTree()">Toggle Sidebar</button>
