<div class="w-[700px] mx-auto">
  <!-- <ag-grid-angular
    #agGrid
    class="ag-theme-quartz"
    style="height: 500px"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [gridOptions]="gridOptions"
    [cacheBlockSize]="20"
    [infiniteInitialRowCount]="10"
    [maxBlocksInCache]="10"
    [rowModelType]="'infinite'"
  ></ag-grid-angular> -->

  <div *ngFor="let item of items">
    {{ item.title }}
  </div>

  <ngx-infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
  >
  </ngx-infinite-scroll>
</div>
