table {
  margin-top: 5rem;
  width: 100%;
}

tbody {
  border-radius: 16px;
  border: 1px solid #dddddd;
}
td {
  text-align: left;
  padding: 8px;
  font-size: 13px;
  font-family: 'roboto', sans-serif;
}
th{
  text-align: left;
  padding-bottom: 0.3rem;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: darkblue;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr {
  display: table-row;
  cursor: pointer;
}

td, th {
  padding: 0.8rem 0.5rem;
}
