<!-- <div class="px-24 py-5">
  <h2 class="text-3xl font-serif font-bold py-5 border-b">Reactive forms</h2>
  <app-reactive-forms />
</div> -->
<!-- <div class="px-24 py-5">
  <h2 class="text-3xl font-serif font-bold py-5 border-b">Routing</h2>
  <app-home />
</div> -->

<!-- <div class="p-5">
  <h2 class="text-3xl font-serif font-bold py-5">App component</h2>

  <div>
    <app-parent />
  </div>
</div>

<div class="p-5">
  <h2 class="text-3xl font-serif font-bold py-5 border-b">
    Questions component
  </h2>
  <app-questions />
</div> -->
<header>
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <a
        class="flex items-center"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          src="https://cdn.icon-icons.com/icons2/3398/PNG/512/css_tailwind_logo_icon_214735.png"
          class="mr-3 h-6 sm:h-9"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
          >Tuts</span
        >
      </a>
      <div class="flex items-center lg:order-2">
        <button
          class="bg-blue-900 text-white font-medium rounded-lg text-sm mr-2 dark:hover:bg-gray-700 px-5 py-2"
          routerLink="/login"
        >
          Log in
        </button>
      </div>
      <div
        class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
        id="mobile-menu-2"
      >
        <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
        >
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/team"
              routerLinkActive="active"
              >Team</a
            >
          </li>
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/reactive-form"
              routerLinkActive="active"
              >Reactive Forms</a
            >
          </li>
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/components-basics"
              routerLinkActive="active"
              >Components basics</a
            >
          </li>
          <!-- <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/calendar"
              routerLinkActive="active"
              >Calendar</a
            >
          </li>
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/javascript"
              routerLinkActive="active"
              >Javascript</a
            >
          </li> -->
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/tree-dashboard"
              routerLinkActive="active"
              >Hierarchy Tree</a
            >
          </li>
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/users"
              routerLinkActive="active"
              >Users
            </a>
          </li>
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              routerLink="/orders"
              routerLinkActive="active"
              [queryParams]="{ orderType: 'all' }"
              [routerLinkActiveOptions]="{ exact: true }"
              >Orders</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<router-outlet />
