<!-- <div class="px-24 py-5">
  <h2 class="text-3xl font-serif font-bold py-5 border-b">Reactive forms</h2>
  <app-reactive-forms />
</div> -->
<div class="px-24 py-5">
  <h2 class="text-3xl font-serif font-bold py-5 border-b">Routing</h2>
  <app-table />
</div>

<!-- <div class="p-5">
  <h2 class="text-3xl font-serif font-bold py-5">App component</h2>

  <div>
    <app-parent />
  </div>
</div>

<div class="p-5">
  <h2 class="text-3xl font-serif font-bold py-5 border-b">
    Questions component
  </h2>
  <app-questions />
</div> -->

<router-outlet />
