<form class="w-full max-w-2xl mt-5" [formGroup]="form">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide 0 text-xs font-bold mb-2"
        for="grid-first-name"
      >
        First Name
      </label>
      <input
        class="block w-full border rounded py-3 px-4 mb-3"
        [ngClass]="
          form.get('firstName')?.hasError('required') ? 'border-red-500' : ''
        "
        id="grid-first-name"
        type="text"
        placeholder="Jane"
        formControlName="firstName"
      />
      <div class="text-xs italic text-red-500">
        @if(form.get('firstName')?.invalid && (form.get('firstName')?.dirty ||
        form.get('firstName')?.touched)){
        @if(form.get('firstName')?.hasError('required')){ Name is required. }
        @if(form.get('firstName')?.hasError('minlength')){ Min length is... } }
      </div>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="block uppercase tracking-wide text-xs font-bold mb-2"
        for="grid-last-name"
      >
        Last Name
      </label>
      <input
        class="block w-full border border-gray-200 rounded py-3 px-4"
        id="grid-last-name"
        type="text"
        placeholder="Doe"
        formControlName="lastName"
      />
      <p class="text-xs italic text-red-500">
        {{ getLastNameErrorMessage() }}
      </p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-xs font-bold mb-2"
        for="grid-password"
      >
        Password
      </label>
      <input
        class="block w-full border border-gray-200 rounded py-3 px-4 mb-3"
        id="grid-password"
        type="password"
        placeholder="*************"
        formControlName="password"
      />
      <p class="text-xs italic">Make it as long and as crazy as you'd like</p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6" formArrayName="addresses">
    @for (add of addresses.controls; track add; let i = $index) {
    <div class="flex flex-wrap -mx-3 mb-2" [formGroupName]="i">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-xs font-bold mb-2"
          for="grid-city"
        >
          City
        </label>
        <input
          class="appearance-none block w-full border border-gray-200 rounded py-3 px-4"
          id="grid-city"
          type="text"
          placeholder="Albuquerque"
          formControlName="city"
        />
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-xs font-bold mb-2"
          for="grid-state"
        >
          State
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full border border-gray-200 py-3 px-4 pr-8"
            id="grid-state"
            formControlName="state"
          >
            <option value="New Mexico">New Mexico</option>
            <option value="Missouri">Missouri</option>
            <option value="Texas">Texas</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-xs font-bold mb-2"
          for="grid-zip"
        >
          Zip
        </label>
        <input
          class="appearance-none block w-full border rounded py-3 px-4"
          id="grid-zip"
          type="text"
          placeholder="90210"
          formControlName="zipCode"
        />
      </div>

      <button class="btn-primary mt-2 mx-3" (click)="removeAddress(i)">
        Delete Address
      </button>
    </div>
    }
  </div>

  <p
    class="block uppercase tracking-wide text-xs font-bold mb-2 mt-4"
    for="grid-zip"
  >
    Gender
  </p>
  <div
    class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
  >
    <input
      id="bordered-radio-1"
      type="radio"
      value="male"
      class="w-4 h-4 text-blue-600"
      formControlName="gender"
    />
    <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium"
      >Male</label
    >
  </div>
  <div class="flex items-center ps-4 border">
    <input
      id="bordered-radio-2"
      type="radio"
      value="female"
      class="w-4 h-4 text-blue-600"
      formControlName="gender"
    />
    <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium"
      >Female</label
    >
  </div>

  <div class="w-full mb-6 mt-3">
    <label class="block uppercase tracking-wide 0 text-xs font-bold mb-2">
      Hobby
    </label>
    <div class="flex items-center gap-2" formArrayName="hobbies">
      @for ( item of hobbies.controls; track item; let i = $index) {

      <input
        class="block w-full border border-gray-200 rounded py-3 px-4 mb-3"
        type="text"
        placeholder="Sport"
        [formControlName]="i"
      />
      <button class="text-xl font-bold mb-4" (click)="removeHobby(i)">x</button>
      }
    </div>
  </div>
  <button class="btn-primary" (click)="addHobbies()">Add hobby</button>
  <button class="btn-primary mt-2 mx-3" (click)="addAddress()">
    Add new address
  </button>

  <div class="flex justify-end mt-5">
    <button class="btn-primary" (click)="submit()">Submit Form</button>
  </div>
</form>
