<div class="mb-5 w-5/6">
  <div class="mt-2">
    <input
      type="text"
      name="text"
      id="text"
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
      placeholder="Search node"
      [value]="searchText()"
      (input)="searchNode($event)"
    />
  </div>
</div>

@if (treeStore.loading()) {
<div class="flex justify-center items-center w-5/6">
  <mat-spinner diameter="50"></mat-spinner>
</div>
} @else {
<cdk-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
  <cdk-tree-node
    *cdkTreeNodeDef="let node"
    cdkTreeNodePadding
    [cdkTreeNodePaddingIndent]="16"
    class="tree-node"
  >
    <div class="cursor-pointer" cdkTreeNodeToggle>
      <div class="flex items-center gap-3 mb-5">
        <div class="dot" [style.background]="'darkorange'"></div>
        <p class="node-name font-bold">
          {{ node.name }}
        </p>
      </div>
    </div>
  </cdk-tree-node>
  <cdk-tree-node
    *cdkTreeNodeDef="let node; when: hasChild"
    cdkTreeNodePadding
    [cdkTreeNodePaddingIndent]="16"
    class="tree-node"
  >
    <div class="cursor-pointer" cdkTreeNodeToggle>
      <div
        class="flex items-center gap-3 mb-5"
        (click)="selectNodeInComponent(node)"
      >
        <span class="material-symbols-sharp">
          {{ !treeControl.isExpanded(node) ? "add" : "remove" }}
        </span>
        <div class="dot"></div>
        <p class="node-name font-bold">
          {{ node.name }}
        </p>
      </div>
    </div>

    <div [class.tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-tree-node>
</cdk-tree>

} Selected node: {{ treeStore.nodeSelected() | json }}
